.App {
  text-align: center;
  padding: 30px 0;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  padding: 0 6vw;
  margin: 30px 0 45px;
  word-spacing: 5px;
  color: #484D6D;
}

.search-box {
  position: absolute;
  top: 60px;
  right: 6vw;
}
